In [1]:
from heartdisease.preprocessing import get_df

In [2]:
df = get_df('../data/heart.csv')

In [3]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,1.193922,0,0,1,1
1,37,1,2,130,250,0,1,187,0,1.504077,0,0,2,1
2,41,0,1,130,204,0,0,172,0,0.875469,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.587787,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.470004,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.182322,1,0,3,0
299,45,1,3,110,264,0,1,132,0,0.788457,1,0,3,0
300,68,1,0,144,193,1,1,141,0,1.481605,1,2,3,0
301,57,1,0,130,131,0,1,115,1,0.788457,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.000000,1,1,2,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 302 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       302 non-null    int64
 1   sex       302 non-null    int64
 2   cp        302 non-null    int64
 3   trestbps  302 non-null    int64
 4   chol      302 non-null    int64
 5   fbs       302 non-null    int64
 6   restecg   302 non-null    int64
 7   thalach   302 non-null    int64
 8   exang     302 non-null    int64
 9   oldpeak   302 non-null    float64
 10  slope     302 non-null    int64
 11  ca        302 non-null    int64
 12  thal      302 non-null    int64
 13  target    302 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 35.4 KB

In [5]:
X = df.drop(columns='target')
y = df['target']

In [6]:
import boto3
from io import BytesIO
import joblib

In [7]:
s3 = boto3.resource(
    's3',
    aws_access_key_id='AKIAXOK4JKBBSASKYMUG',
    aws_secret_access_key='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')

with BytesIO() as file:
    s3.Bucket("ml-models-niels").download_fileobj("model_1.5.joblib", file)
    file.seek(0)
    niels = joblib.load(file)

In [8]:
niels.predict(X)

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [6]:
s3 = boto3.resource(
    's3',
    aws_access_key_id='AKIAXOK4JKBBSASKYMUG',
    aws_secret_access_key='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')

# obj = s3.get_object(Bucket='ml-models-niels', Key='model_1.4.joblib')

In [7]:
with BytesIO() as file:
    s3.Bucket("ml-models-niels").download_fileobj("model_1.4.joblib", file)
    lex = joblib.load(file)

In [8]:
lex

Pipeline(steps=[('dtypeselector', DTypeSelector(dtypes='number')),
                ('corrfilterhightotalcorrelation',
                 CorrFilterHighTotalCorrelation()),
                ('knnimputer', KNNImputer()), ('robustscaler', RobustScaler()),
                ('randomforestclassifier', RandomForestClassifier())])

In [14]:
obj

{'ResponseMetadata': {'RequestId': '41FF5E76F2B10954',
  'HostId': 'urrUHTynU4kdUfqEhAj5z4COFb+Z30ECkxwK5N3+/q5oe583Kwdgfh2T98xWvb5V94x2hItCoCg=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'urrUHTynU4kdUfqEhAj5z4COFb+Z30ECkxwK5N3+/q5oe583Kwdgfh2T98xWvb5V94x2hItCoCg=',
   'x-amz-request-id': '41FF5E76F2B10954',
   'date': 'Fri, 02 Oct 2020 15:15:58 GMT',
   'last-modified': 'Fri, 02 Oct 2020 14:13:49 GMT',
   'etag': '"732b04d39b494f15926780850ea2b7e9"',
   'x-amz-version-id': 'VsOHjQNp9lAmFi7UlVMXM0Id0xyRYNL6',
   'accept-ranges': 'bytes',
   'content-type': 'binary/octet-stream',
   'content-length': '667307',
   'server': 'AmazonS3'},
  'RetryAttempts': 1},
 'AcceptRanges': 'bytes',
 'LastModified': datetime.datetime(2020, 10, 2, 14, 13, 49, tzinfo=tzutc()),
 'ContentLength': 667307,
 'ETag': '"732b04d39b494f15926780850ea2b7e9"',
 'VersionId': 'VsOHjQNp9lAmFi7UlVMXM0Id0xyRYNL6',
 'ContentType': 'binary/octet-stream',
 'Metadata': {},
 'Body': <botocore.response.StreamingBody at 0x12c977210>}

In [ ]:
# READ
with tempfile.TemporaryFile() as fp:
    s3_resource.download_fileobj(Fileobj=fp, Bucket=bucket_name, Key=key)
    fp.seek(0)
    model = joblib.load(fp)

In [ ]:
import boto3
bucketname = 'my-bucket' # replace with your bucket name
filename = 'my_image_in_s3.jpg' # replace with your object key
s3 = boto3.resource('s3')
s3.Bucket(bucketname).download_file(filename, 'my_localimage.jpg')

In [ ]:
resource = boto3.resource('s3')
my_bucket = resource.Bucket('MyBucket')
my_bucket.download_file(key, local_filename)